<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
      <div class="modal-body">
        <div class="form-group field">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button><br><br>
          <%= form_with(model: @users, url: update_change_request_approval_user_url(params:{date: @first_day}), method: :patch) do |f| %>
            <% @users.each do |user| %>
              <h4 class="modal-title" id="exampleModalLabel" align="center">【<%= user.name %>からの勤怠変更申請】</h4><br>
              <table class = "table-bordered table-condensed">
                <thead>
                  <tr>
                    <th rowspan = "3">日付</th>
                    <th rowspan = "3">曜日</th>
                    <th colspan = "4">変更前</th>
                    <th colspan = "4">変更後</th>
                    <th rowspan = "3">備考</th>
                    <th rowspan = "3">指示者確認㊞</th>
                    <th rowspan = "3">変更</th>
                    <th rowspan = "3">勤怠を確認する</th>
                  </tr>
                  <tr>
                    <th colspan = "2">出社</th>
                    <th colspan = "2">退社</th>
                    <th colspan = "2">出社</th>
                    <th colspan = "2">退社</th>
                  </tr>
                  <tr>
                    <th>時</th>
                    <th>分</th>
                    <th>時</th>
                    <th>分</th>
                    <th>時</th>
                    <th>分</th>
                    <th>時</th>
                    <th>分</th>
                  </tr>
                </thead>
                <tbody> 
                  <% @attendances.each do |at| %>
                    <% if at.user_id == user.id %>
                      <%= fields_for "attendances[]", at do |af| %>
                        <tr>
                          <td><%= at.worked_on.to_s(:date) %></td>
                          <td><%= %w{日 月 火 水 木 金 土}[at.worked_on.wday] %></td>
                          <td><%= at.started_at.to_s(:hour)  if at.started_at.present? %></td>
                          <td><%= at.started_at.to_s(:min)  if at.started_at.present? %></td>
                          <td><%= at.finished_at.to_s(:hour)  if at.finished_at.present? %></td>
                          <td><%= at.finished_at.to_s(:min)  if at.finished_at.present? %></td>
                          <td><%= at.after_started_at.to_s(:hour)  if at.after_started_at.present? %></td>
                          <td><%= at.after_started_at.to_s(:min)  if at.after_started_at.present? %></td>
                          <td><%= at.after_finished_at.to_s(:hour)  if at.after_finished_at.present? %></td>
                          <td><%= at.after_finished_at.to_s(:min)  if at.after_finished_at.present? %></td>
                          <td><%= at.note %></td>
                          <td><%= af.select :change_enum, Attendance.change_enums.keys %></td>
                          <td><%= af.check_box :change_request_change ,{:checked => false}, "true", "false" %></td>
                          <td><%= link_to "確認", user_path(id: user.id,first_day: at.worked_on.beginning_of_month), class: "btn btn-primary" %></td>
                        </tr>
                      <% end %>
                    <% end  %>  
                  <% end %>  
                </tbody>
              </table><br>
            <% end %>
            <%= f.submit "変更を送信する", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
  </div>
</div>