<% provide(:title, '一覧') %>
<h1>ユーザ一覧</h1>

<%= will_paginate @users, :previous_label => '&lt 前へ', :next_label => '次へ &gt' %>

<div class = "csv-import">
  <%= form_tag import_users_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "ＣＳＶをインポート" ,class: "btn btn-primary" %>
  <% end %>
</div>


<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate @users, :previous_label => '&lt 前へ', :next_label => '次へ &gt' %>