<% provide(:title, '勤怠表示') %>
<div>
  <table class="table-bordered table-condensed">
    <tr>
      <td>
        <% if @current_user == @user %>
          <%= link_to "←", user_path(params: {id: @user.id, first_day: @first_day.prev_month }),
          class: "btn btn-xs btn-primary" %>
        <% end %>
        &emsp;<%= @first_day.to_s(:year_month) %>　時間管理表&emsp;
        <% if @current_user == @user %>
          <%= link_to "→", user_path(params: {id: @user.id, first_day: @first_day.next_month }),
          class: "btn btn-xs btn-primary" %>
        <% end %>
      </td>
      <td>指定勤務開始時間 <%= format_basic_work_time(@user.designated_work_start_time) %>
      <br>指定勤務終了時間 <%= format_basic_work_time(@user.designated_work_end_time) %></td>
      <td colspan = "3">基本時間<%= format_basic_work_time(@user.basic_work_time) %></td>
      <td>初日 <%= @first_day.to_s(:date) %></td>
    </tr>

    <tr>
      <td>所属：<%= @user.affiliation.present? ? @user.affiliation : "未設定" %></td>
      <td>氏名：<%= @user.name %></td>
      <td>コード</td>
      <td><%= @user.employee_number %></td>
      <td>出勤日数 <%= @worked_sum %>日</td>
      <td>締日 <%= @last_day.to_s(:date) %></td>
    </tr>
  </table>
  <% if @current_user == @user %>
    <% if current_user.superior? || current_user.admin?  %>
      <div class="superior-informaiton">
        <p>
          <% if @month_approval_number > 0 %>
            <font color="red">【所属長承認申請のお知らせ】</font>
          <% else %>
            【所属長承認申請のお知らせ】
          <% end %>
          <% if @month_approval_number > 0 %>
            <%= link_to @month_approval_number.to_s + "件の通知があります", edit_month_request_approval_user_path(params:{date: @first_day}), remote: true, :style=>"color:red; border: 4px solid red;" %>
          <% end %>
        </p>
        <div id="edit_month_request_approval" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
        <p>
          <% if @change_approval_number > 0 %>
            <font color="red">【勤怠変更申請のお知らせ】</font>
          <% else %>
            【勤怠変更申請のお知らせ】
          <% end %>
          <% if @change_approval_number > 0 %>
            <%= link_to @change_approval_number.to_s + "件の通知があります", edit_change_request_approval_user_path(params:{date: @first_day}), remote: true, :style=>"color:red; border: 4px solid red;" %>
          <% end %>
        </p>
        <div id="edit_change_request_approval" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
        <p>
          <% if @over_approval_number > 0 %>
            <font color="red">【残業申請のお知らせ】</font>
          <% else %>
          【残業申請のお知らせ】
          <% end %>
          <% if @over_approval_number > 0 %>
            <%= link_to @over_approval_number.to_s + "件の通知があります", edit_overwork_request_approval_user_path(params:{date: @first_day}), remote: true, :style=>"color:red; border: 4px solid red;"%>
          <% end %>
        </p>
        <div id="edit_overwork_request_approval" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
      </div>
    <% else %>
      <br><br>
    <% end %>
  <% end %>
  <% if @current_user == @user %>
    <div class = "show-btn">
      <%= link_to "勤怠を編集", edit_attendances_path(@user, @first_day), class: "btn btn-primary" %>
      <%= link_to "CSV出力", user_path(format: :csv, params: {id: @user.id, first_day: @first_day}), class: "btn btn-primary" %>
      <%= link_to "勤怠修正ログ（承認済）", working_log_user_path(params: {id: @user.id,first_day: @first_day}), class: "btn btn-primary" %>
    </div>
  <% end %>
  <br />
  <table class = "table-bordered table-striped table-condensed">
    <thead>
      <tr>
        <th rowspan = "3">残業申請</th>
        <th rowspan = "3">日付</th>
        <th rowspan = "3">曜日</th>
        <th colspan = "8">【実績】</th>
        <th colspan = "5">【所定外勤務】</th>
      </tr>
      <tr>
        <th colspan = "3">出社</th>
        <th colspan = "3">退社</th>
        <th rowspan = "2">在社時間</th>
        <th rowspan = "2">備考</th>
        <th colspan = "2">終了予定時間</th>
        <th rowspan = "2">時間外時間</th>
        <th rowspan = "2">業務処理内容</th>
        <th rowspan = "2">指示者確認㊞</th>
      </tr>
      <tr>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
      </tr>
    </thead>
    
    <tbody>
      <% @dates.each do |day| %>
        <tr>
          
          <td>
            <% if @current_user == @user %>
              <%= link_to "残業申請", edit_overwork_request_user_attendance_path(@user, day, params:{date: @first_day}), remote: true, class: "btn btn-primary" %></td>
            <% end %>
          <div id="edit_overwork_request" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
          <td><%= day.worked_on.to_s(:date) %></td>
          <% if day.worked_on.wday == 0 %>
            <td><font color="Red"><%= %w{日 月 火 水 木 金 土}[day.worked_on.wday] %></font></td>
          <% elsif day.worked_on.wday == 6 %>
            <td><font color="Blue"><%= %w{日 月 火 水 木 金 土}[day.worked_on.wday] %></font></td>
          <% else %>
            <td><%= %w{日 月 火 水 木 金 土}[day.worked_on.wday] %></td>
          <% end %>
          
          <td><%= day.started_at.to_s(:hour) if day.started_at.present? %></td>
          <td><%= day.started_at.floor_to(15.minutes).to_s(:min) if day.started_at.present? %></td>
          <td>
            <% if day.worked_on == Date.today && day.started_at.nil? %>
              <% if @current_user == @user %>
                <%= button_to "出社", user_attendances_path(@user), class: "btn btn-xs btn-primary"%>
              <% end %>
            <% end %>
          </td>
          <td><%= day.finished_at.to_s(:hour) if day.finished_at.present? %></td>
          <td><%= day.finished_at.floor_to(15.minutes).to_s(:min) if day.finished_at.present? %></td>
          <td>
            <% if day.worked_on == Date.today && day.started_at.present? && day.finished_at.nil? %>
              <% if @current_user == @user %>
                <%= button_to "退社", user_attendances_path(@user), class: "btn btn-xs btn-primary"%>
              <% end %>
            <% end %>
          </td>
          <td>
            <% if day.started_at.present? && day.finished_at.present? %>
              <%= working_times(day.started_at.floor_to(15.minutes), day.finished_at.floor_to(15.minutes)) %>
              <% seconds = (day.finished_at - day.started_at).to_i %>
              <% @total_seconds = @total_seconds.to_i + seconds %>
            <% end %>
          </td>
          <td><%= day.note %></td>
          <td><%= day.overwork_time.to_s(:hour) if day.overwork_time.present? %></td>
          <td><%= day.overwork_time.to_s(:min) if day.overwork_time.present? %></td>
          <td><%= overwork_times(@user.designated_work_end_time, day.overwork_time, day.overwork_tomorrow) if day.overwork_time.present? %></td>
          <td><%= day.overwork_note %></td>
          <td>
              <% if day.overwork_superior_id.present? %>
                <% if day.overwork_enum == '申請中' %>
                  <%= User.find_by(id: day.overwork_superior_id).name + "に残業申請中" %><br>
                <% elsif day.overwork_enum == '承認' %>
                  <%= User.find_by(id: day.overwork_superior_id).name + "より残業申請承認済" %><br>
                <% elsif day.overwork_enum == '否認' %>
                  <%= User.find_by(id: day.overwork_superior_id).name + "より残業申請否認" %><br>
                <% end %>
              <% end %>
              <% if day.change_superior_id.present? %>
                <% if day.change_enum == '申請中' %>
                  <%= User.find_by(id: day.change_superior_id).name + "に勤怠編集申請中" %><br>
                <% elsif day.change_enum == '承認' %>
                  <%= User.find_by(id: day.change_superior_id).name + "より勤怠編集申請承認済" %><br>
                <% elsif day.change_enum == '否認' %>
                  <%= User.find_by(id: day.change_superior_id).name + "より勤怠編集申請否認" %><br>
                <% end %>
              <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
    
    <tfoot>
      <tr>
        <td colspan = "2"><%= format_basic_work_time(@user.basic_work_time).to_f * @worked_sum %></td>
        <td colspan = "7"></td>
        <td><%= working_times_sum(@total_seconds) unless @total_seconds.nil? %></td>
        <td colspan = "5"></td>
        <td>
          <%= form_with(model: @dates.first, url: update_month_request_user_attendance_path(@user, @dates.first, params:{date: @first_day}), method: :patch) do |f| %>
            <% if @dates.first.month_superior_id == nil%>
              所属長承認　未
            <% else %>
              <% if @dates.first.month_enum == "申請中" %>
                <%= User.find(@dates.first.month_superior_id).name %>に承認申請中
              <% elsif @dates.first.month_enum == "承認" %>
                所属長承認　<%= User.find(@dates.first.month_superior_id).name %>から承認済
              <% elsif @dates.first.month_enum == "否認"  %>
                所属長否認　<%= User.find(@dates.first.month_superior_id).name %>から否認
              <% end %>
            <% end %>
            <% if @current_user == @user %>
              <br><%= f.collection_select :month_superior_id, User.where(["admin = ? or superior = ?", true, true]), :id, :name, :include_blank => true, selected: :include_blank %><br>
              <%= f.hidden_field :month_enum, {value: '申請中'} %>
              <%= f.submit "申請", class: "btn btn-primary" %>
            <% end %>
          <% end %>
        </td>
      </tr>
    </tfoot>
  </table>
</div>