<% provide(:title, "勤怠ログ") %>
<br><br>
<h1>勤怠ログ</h1>
<div class = "container">
  
  
  <table class="table-bordered table-condensed table-striped">
    <thead>
      <tr>
        <th>日付</th>
        <th>変更前出社時間</th>
        <th>変更前退社時間</th>
        <th>変更後出社時間</th>
        <th>変更後退社時間</th>
        <th>指示者</th>
        <th>承認日</th>
      </tr>
    </thead>
    <tbody>
      <% @records.each do |record| %>
        <tr>
          <td><%= record.worked_on %></td>
          <% if record.started_at.present? %>
            <td><%= record.started_at.to_s(:time) %></td>
          <% else %>
            <td><%= record.started_at.to_s %></td>
          <% end %>
          <% if record.finished_at.present? %>
            <td><%= record.finished_at.to_s(:time) %></td>
          <% else %>
            <td><%= record.finished_at.to_s %></td>
          <% end %>
          <% if record.after_started_at.present? %>
            <td><%= record.after_started_at.to_s(:time) %></td>
          <% else %>
            <td><%= record.after_started_at.to_s %></td>
          <% end %>
          <% if record.after_finished_at.present? %>
            <td><%= record.after_finished_at.to_s(:time) %></td>
          <% else %>
            <td><%= record.after_finished_at.to_s %></td>
          <% end %>
          <td><%= superior_user_name(record.change_superior_id) %></td>
          <td><%= record.change_approval_date %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

