<tr>
  <td><%= link_to "編集", edit_base_info_basis_path(object), remote: true, class: "btn btn-primary" %></td>
  <div id="edit-base-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
  <td><%= link_to "削除", object, method: :delete,
          data: { confirm: "削除してよろしいですか？" }, class: "btn btn-primary" %></td>
  <td><%= object.name %></td>
  <td><%= object.number %></td>
  <td><%= object.type %></td>
</tr>


