<% provide(:title, "勤怠編集") %>
<div>
  <h1>勤怠編集画面</h1>
  <%= form_for(@user, url: update_attendances_path, method: :patch) do |f| %>
  <table class = "table-bordered table-striped table-condensed">
    <thead>
      <tr>
        <th>日付</th>
        <th>曜日</th>
        <th>出社</th>
        <th>退社</th>
        <th>翌日</th>
        <th>在社時間</th>
        <th>備考</th>
        <th>指示者確認㊞</th>
      </tr>
    </thead>
    <tbody>
      <% @dates.each do |day| %>
        <%= fields_for "attendances[]", day do |af| %>
          <tr>
            <td><%= day.worked_on.to_s(:date) %></td>
            <% if day.worked_on.wday == 0 %>
              <td><font color="Red"><%= %w{日 月 火 水 木 金 土}[day.worked_on.wday] %></font></td>
            <% elsif day.worked_on.wday == 6 %>
              <td><font color="Blue"><%= %w{日 月 火 水 木 金 土}[day.worked_on.wday] %></font></td>
            <% else %>
              <td><%= %w{日 月 火 水 木 金 土}[day.worked_on.wday] %></td>
            <% end %>
            <% if day.worked_on > Date.current %>
              <td><%= af.time_field :started_at, class: "form-control", :readonly => true %></td>
              <td><%= af.time_field :finished_at, class: "form-control", :readonly => true %></td>
              <td></td>
              <td>
                <% if day.started_at.present? && day.finished_at.present? %>
                  <%= working_times(day.started_at, day.finished_at) %>
                <% end %>  
              </td>
              <td><%= af.text_field :note, class: "form-control", :readonly => true %></td>
              <td></td>
            <% else %>
              <% if day.started_at != nil %>
                <td><%= af.time_field :after_started_at, :value => day.started_at.floor_to(15.minutes).to_s(:time), class: "form-control" %></td>
              <% else %>
                <td><%= af.time_field :after_started_at, class: "form-control" %></td>
              <% end %>
              <% if day.finished_at != nil %>
                <td><%= af.time_field :after_finished_at, :value => day.finished_at.floor_to(15.minutes).to_s(:time), class: "form-control" %></td>
              <% else %>
                <td><%= af.time_field :after_finished_at, class: "form-control" %></td>
              <% end %>
              <td><%= af.check_box :change_tomorrow ,{}, "true", "false" %></td>
              <td>
                <% if day.started_at.present? && day.finished_at.present? %>
                  <%= working_times(day.started_at.floor_to(15.minutes), day.finished_at.floor_to(15.minutes)) %>
                <% end %>  
              </td>
              <td><%= af.text_field :note, class: "form-control" %></td>
              <td><%= af.collection_select :change_superior_id, User.where(["admin = ? or superior = ?", true, true]), :id, :name, :include_blank => true, selected: :include_blank %></td>
            <% end %>
          </tr>
          <%= af.hidden_field :change_enum, {value: '申請中'} %> 
        <% end %>
      <% end %>
    </tbody>
  </table>
    <div class= "btn-attendances-update">
      <%= f.submit "更新", class: "btn btn-primary" %>
      <%= link_to "キャンセル", user_path(@user, params:{first_day: @first_day }), class: "btn btn-default btn-block" %>
    </div>
  <% end %>
</div>